.row {
    display: table;
    width: 100%;
    border-spacing: 100px;
}
.race, .quali {
    display: table-cell;
}

body {
    font-family: 'Roboto', sans-serif;;
}

ul {
    margin-top: auto;
display: flex;
text-align: center;
padding: 20px;
background-color: #F12249;
box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
color: #ac0d2a;
}

.title {
    color: white;
    font-size: 20px;
    list-style-type: none;
}



#quali-btn, #race-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#quali-btn:active, #race-btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  #quali-btn, #race-btn {
    padding: 0.25em 0.75em;
  }
}

p {
    font-size: 17px;
    line-height: 1.4;
}

.quali {
    margin-top: -10px;
}